<div class="container">
  <a href="/profile">&lt; back to profile</a>
  <div id="personal-details" class="profile-section">
    <div class="section-header">
      <h1>Personal</h1>
    </div>
    <div class="section-content">
      <table class="content-table">
        <tr>
          <th>Email</th>
          <td id="email-field">teststudent@test.com</td>
        </tr>
        <tr>
          <th>First Name</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Last Name(s)</th>
          <td>Student</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="academic-details" class="profile-section">
    <div class="section-header">
      <h1>Academic</h1>
    </div>
    <div class="section-content">
      <table class="content-table">
        <tr>
          <th>Degree</th>
          <td id="email-field">Bachelor of Information Technology</td>
        </tr>
        <tr>
          <th>Major</th>
          <td id="email-field">Computer Science</td>
        </tr>
        <tr>
          <th>Minor(s)</th>
          <td id="email-field">Intelligent Systems</td>
        </tr>
        <tr>
          <th>GPA</th>
          <td id="email-field">5.4</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="skill-details" class="profile-section">
    <div class="section-header">
      <h1>Skills</h1>
    </div>
    <div class="section-content" id="skills-content">
      <p>Content</p>
    </div>
  </div>
  <div id="privacy-details" class="profile-section">
    <div class="section-header">
      <h1>Privacy</h1>
    </div>
    <div class="section-content" id="privacy-content">
      <p>Content</p>
    </div>
  </div>
</div>
