<div class="container">
  <ng-container *ngIf="!isLoaded; else elseTemplate">
    <app-loading></app-loading>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="content">
      <div id="profile-header">
        <h1>{{ user.full_name }}</h1>
        <p id="email">{{ user.email }}</p>
      </div>

      <div id="management-container" *ngIf="this.isSelf">
        <a id="edit-profile-button" href="/profile/edit">Edit Profile</a>
        <p>Only details that are in <b>bold</b> are visible to others</p>
      </div>

      <div id="details-container" class="col-6">
        <span class="container-header">Details</span>
        <table>
          <tr class="details-row">
            <td class="left-column">Degree</td>
            <td>Bachelor of Information Technology</td>
          </tr>
          <tr class="details-row">
            <td class="left-column">Major</td>
            <td>{{ user.major }}</td>
          </tr>
          <tr class="details-row">
            <td class="left-column">
              Minor<span *ngIf="user.minors.second != ''">s</span>
            </td>
            <td>{{ user.minors.first }}</td>
          </tr>
          <tr *ngIf="user.minors.second != ''" class="details-row">
            <td></td>
            <td>{{ user.minors.second }}</td>
          </tr>
          <tr class="details-row">
            <td class="left-column">GPA</td>
            <td>5.4</td>
          </tr>
        </table>
      </div>

      <div id="skills-container" class="col-6">
        <span class="container-header">Skills</span>
        <div class="skill-list" *ngIf="user.skills.length > 0">
          <a
            class="skill-card type-{{ skill.type }}"
            *ngFor="let skill of user.skills"
          >
            <span class="skill-name">
              {{ skill.name }}
            </span>
          </a>
        </div>
      </div>

      <div id="team-container">
        <span class="container-header">Team</span>
        <!-- TODO: Display team details -->
        <div *ngIf="this.isSelf">
          <div *ngIf="user.team != null || user.team != undefined">
            {{ user.team.name }}
          </div>

          <ul>
            <li *ngFor="let invitation of user.invitations">
              {{ invitation.invitedById }}
              <a
                href="javascript:void(0)"
                (click)="this.acceptInvitation(invitation._id)"
                >Accept</a
              >
            </li>
          </ul>

          <div *ngIf="user.invitations.length == 0 && user.team == undefined">
            <p>You are not in a team and you have no invitations</p>
          </div>
        </div>

        <div *ngIf="!this.isSelf">
          <p *ngIf="this.inTeam">
            This user is currently in team {{ user.team }}.
          </p>
          <p *ngIf="!this.inTeam">This user is currently not in a team.</p>
          <div class="team-actions">
            <div
              class="invited row"
              *ngIf="this.invitedToTeam && !this.inTeam && !this.invitedBy"
            >
              <div class="col">
                <p>
                  <b>Invitation Sent</b>
                </p>
                <a
                  href="javascript:void(0);"
                  (click)="this.dismissInvitation()"
                >
                  Cancel Invitation
                </a>
              </div>
            </div>

            <div *ngIf="!this.inTeam && this.invitedBy">
              You have an invitation to join a team from this person.
            </div>

            <button
              class="btn btn-primary"
              (click)="inviteToTeam('create')"
              href="javascript:void(0);"
              *ngIf="!this.inTeam && !this.selfInTeam && !this.invitedToTeam"
            >
              Invite {{ user.name.first }} to Create Team
            </button>
            <button
              class="btn btn-primary"
              (click)="inviteToTeam('add')"
              href="javascript:void(0);"
              *ngIf="!this.inTeam && this.selfInTeam"
            >
              Invite {{ user.name.first }} to Join Team
            </button>
            <button
              class="btn btn-primary"
              (click)="removeFromTeam()"
              href="javascript:void(0);"
              *ngIf="this.sameTeam"
            >
              Remove from team
            </button>
            <li *ngIf="this.inTeam">This user is already in a team.</li>
            <li *ngIf="this.inTeam">
              <a (click)="inviteToTeam('add')" href="javascript:void(0);">
                Invite anyway
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
