@import '../../../variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;

  .container-header {
    color: rgb(73, 73, 73);
    font-size: 24px;
  }

  #profile-header {
    flex: 1 0 100%;
    margin: 50px 0;
    text-align: center;

    #email {
      color: rgb(80, 78, 78);
    }
  }

  #management-container {
    flex: 1 0 100%;
    text-align: center;

    #edit-profile-button {
      cursor: pointer;
    }
  }

  #details-container {
    flex: 1 1 50%;
    border-right: 1px solid rgb(199, 199, 199);

    .details-row {
      td {
        &:first-child {
          text-align: right;
        }
        &:last-child {
          padding-left: 20px;
        }
      }
    }
  }

  #skills-container {
    text-align: right;

    .skill-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 20px;

      .skill-card {
        flex: 0 0 auto;
        border-radius: 2px;
        display: inline-block;
        padding: 0 10px;
        margin-bottom: 5px;
        cursor: pointer;

        span {
          font-family: $font-family-2;
          font-weight: 600;
        }

        &.type-language {
          background-color: #09568d;
          color: white;
        }

        &.type-framework {
          background-color: #b72727;
          color: white;
        }

        &.type-other {
          background-color: rgb(240, 228, 61);
          color: rgb(0, 0, 0);
        }
      }
    }
  }

  #skill-details {
    border-top: 1px solid rgb(177, 177, 177);
  }

  #skills-content,
  #privacy-content {
    text-align: center;
  }

  #team-container {
    flex: 1 1 100%;
    margin-top: 50px;
  }
}

@media (min-width: 1250px) {
  .content {
    width: 800px;
  }
}
