<div *ngIf="isLoaded" class="container">
  <ul>
    <li>{{ user.email }}</li>
    <li>{{ user.full_name }}</li>
    <li>{{ this.getUserId() }}</li>
    <li *ngIf="!this.isSelf && !this.inTeam">
      <a (click)="createTeam()" href="javascript:void(0);">
        Create team with {{ user.full_name }}
      </a>
    </li>
    <li *ngIf="!this.isSelf && !this.inTeam">
      <a (click)="addToTeam()" href="javascript:void(0);">
        Invite {{ user.full_name }} to team
      </a>
    </li>
    <li *ngIf="!this.isSelf && this.sameTeam()">
      <a (click)="removeFromTeam()" href="">
        Remove from team
      </a>
    </li>
  </ul>
</div>
