<div id = "container" class="container">
  <div id = "team-container" class="team-container">
    <h2>Teams</h2>
    <!-- <span>
      Show
      <select>
        <option value="all">all</option>
        <option value="complete">complete</option>
        <option value="incomplete">incomplete</option>
      </select>
      Teams
    </span> -->
    <table class="mat-elevation-z2">
      <tr>
        <th>
          Name
        </th>
      </tr>

      <tr *ngFor="let team of teams" routerLink="/teams/{{ team._id }}">
        <td>{{ team.name }}</td>
      </tr>
    </table>
  </div>
  <hr />

  <div class="student-container">
    <h2>Students</h2>
    <table>
      <tr>
        <th>
          Name
        </th>
        <th>
          Team
        </th>
        <th></th>
        <th>
          <button
            class="btn btn-primary"
            type="input"
            (click)="downloadAllStudents()"
          >
        
        Download All Students As CSV
          </button>
        </th>
      </tr>
      <!-- routerLink="/users/{{ student._id }}" -->
      <tr
        *ngFor="let student of students"
        [ngClass]="{inTeam: student.team}"
      >
        <td>{{ student.full_name }}</td>

        <ng-container *ngIf="student.team; else elseTemplate">
          <td>{{ student.team }}</td>
        </ng-container>
        <td>{{ student.team }}</td>
        <td>
          <button
            class="btn btn-primary"
            type="input"
            (click)="downloadStudent(student.id)"
          >
            Download As CSV
          </button>
        </td>
        <ng-template #elseTemplate>
          <td>-</td>
        </ng-template>
      </tr>
    </table>
  </div>
</div>
