@import 'src/styles.scss';

@media (min-width: 768px) {
  .navbar {
    border-top: 4px solid $color-support;
    padding: 8px 18%;
    font-size: 0.9rem;
    font-weight: 600;

    .navbar-brand {
      font-weight: 500;
      color: $color-primary;
      img {
        width: 3rem;
        margin-bottom: 7px;
      }

      .nav-brand-text {
        font-weight: bold;
        font-family: 'Comfortaa';
      }

      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width 0.3s ease, background-color 0.3s ease;
      }
      &:hover:after {
        width: 75%;
        background: black;
      }
    }

    .navbar-link {
      display: block;
      cursor: pointer;
      text-decoration: none;
      color: black;
      padding: 0.3rem 1rem;

      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width 0.3s ease, background-color 0.3s ease;
      }
      &:hover:after {
        width: 100%;
        background: black;
      }

      // &:hover {
      //   background-color: #dedede;
      // }

      &.router-link-active {
        color: rgb(0, 0, 0);
        border-bottom: 1px solid rgb(124, 124, 124);
      }

      &.profile-link:hover {
        background-color: inherit;
        // color: rgb(110, 110, 110);
      }
    }

    .auth-btn {
      font-size: 0.9rem;
      font-weight: 500;

      &.signup-btn {
        margin-left: 5px;
      }
    }
  }
}
