<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark">

    <mdb-navbar-brand><a class="navbar-brand" routerLink=""><img src="src/assets/images/QUT Logo.png" /> Compass</a></mdb-navbar-brand>

    <links>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink=".">Teams</a>
            </li>
        </ul>

        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>

</mdb-navbar>
