<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark">

    <mdb-navbar-brand><a class="navbar-brand" routerLink=""><img src="assets/images/QUT_Logo.PNG" /> Compass</a></mdb-navbar-brand>

    <links>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['students']" routerLinkActive="router-link-active" >Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['teams']" routerLinkActive="router-link-active" >Teams</a>
            </li>
        </ul>

        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>

</mdb-navbar>
