<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/students']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="studentForm" (ngSubmit)="onFormSubmit(studentForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" formControlName="first_name">
    <mat-error>
      <span *ngIf="!studentForm.get('first_name').valid && studentForm.get('first_name').touched">Please enter First Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" formControlName="last_name">
    <mat-error>
      <span *ngIf="!studentForm.get('last_name').valid && studentForm.get('last_name').touched">Please enter Last Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Major" formControlName="major">
    <mat-error>
      <span *ngIf="!studentForm.get('major').valid && studentForm.get('major').touched">Please enter major</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Minor" formControlName="minor"></textarea>
    <mat-error>
      <span *ngIf="!studentForm.get('minor').valid && studentForm.get('minor').touched">Please enter minor</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" [disabled]="!studentForm.valid" mat-raised-button color="primary"><mat-icon>Tick</mat-icon></button>
  </div>
</form>
