.invalid-feedback {
  display: block;
}

h2 {
  text-align: center;
}

label {
  font-size: 0.80rem;
  text-align: center;
}

.content {
  padding: 5rem 0;
  width: 25rem;
}

.btn-primary {
  width: 100%;
  font-weight: bold;
  padding: 15px;
  border-radius: 0;
}

.p-bottom {
  text-align: center;
  font-weight: bold;
}

input {
  border-radius: 0;

  &:hover {
    box-shadow: none;
    background-color: rgba($color: #4895b9, $alpha: 0.05);
  }

  &:focus {
    box-shadow: none;
    background-color: rgba($color: #4895b9, $alpha: 0.1);
  }
}
