<div class="container">
  <div class="content">
    <form
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit(signupForm.value)"
      class="signupForm form"
    >
      <div class="form-group">
        <input
          type="text"
          id="full_name"
          formControlName="full_name"
          class="form-control"
          placeholder="Full Name"
          [ngClass]="{
            invalid:
              !signupForm.get('full_name').valid &&
              signupForm.get('full_name').touched
          }"
          required
        />
      </div>
      <!-- TODO: Select major and minor from available list -->
      <div class="form-group">
        <input
          type="text"
          id="major"
          formControlName="major"
          class="form-control"
          placeholder="Major"
          [ngClass]="{
            invalid:
              !signupForm.get('major').valid && signupForm.get('major').touched
          }"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="minor"
          formControlName="minor"
          class="form-control"
          placeholder="Minor"
          [ngClass]="{
            invalid:
              !signupForm.get('minor').valid && signupForm.get('minor').touched
          }"
        />
      </div>
      <!-- TODO: Validate email format -->
      <div class="form-group">
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Email"
          [ngClass]="{
            invalid:
              !signupForm.get('email').valid && signupForm.get('email').touched
          }"
          required
        />
      </div>
      <!-- TODO: validate passwords are different -->
      <div class="form-group">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
          [ngClass]="{
            invalid:
              !signupForm.get('password').valid &&
              signupForm.get('password').touched
          }"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password_conf"
          formControlName="password_confirm"
          class="form-control"
          placeholder="Confirm Password"
          [ngClass]="{
            invalid:
              signupForm.get('password').touched &&
              signupForm.get('password_confirm').touched &&
              signupForm.get('password') != signupForm.get('password_confirm')
          }"
          required
        />
        <div
          *ngIf="
            signupForm.get('password').touched &&
            signupForm.get('password_confirm').touched &&
            signupForm.get('password') != signupForm.get('password_confirm')
          "
          class="invalid-feedback"
        >
          Passwords don't match
        </div>
      </div>
      <div class="form-group">
        <button
          [disabled]="!signupForm.valid"
          class="btn btn-primary btn-signup"
        >
          Sign Up
        </button>
      </div>
    </form>
    <p class="p-bottom">
      Already have an account? <a [routerLink]="['/auth/login']">Log In</a>
    </p>
  </div>
</div>
