.container {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  .invalid-feedback {
    display: block;
  }

  h2 {
    text-align: center;
  }

  label {
    font-size: 0.80rem;
    text-align: center;
  }
}

.content {
  padding: 5rem 0;
  width: 25rem;
}

.btn-signup {
  width: 100%;
  font-weight: bold;
  padding: 15px;
}

.p-login {
  text-align: center;
  font-weight: bold;
}

input {
  border-radius: 0;

  &:hover {
    box-shadow: none;
    background-color: rgba($color: #4895b9, $alpha: 0.05);
  }

  &:focus {
    box-shadow: none;
    background-color: rgba($color: #4895b9, $alpha: 0.1);
  }
}
