// Define global values

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  min-height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
}

.app-header {
  flex: 0 1 auto;
}

.body {
  flex: 1 1 auto;
}

.app-footer {
  flex: 0 1 auto;
}
