// Define global values

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  min-height: 100%;
  position: relative;
}

.body {
  padding-bottom: 80px;
  height: 100%;
}

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}
