<div class="container">
  <div class="card mat-elevation-z2">
    <!-- Request creation of post here -->
    <div class="card-body" *ngIf="!this.teamPostOpen && !this.studentPostOpen">
      <div class="row row-title">
        <div class="col col-5 col-title">
          <h5 class="card-title">I am looking for a:</h5>
        </div>
        <div class="col col-3 col-team">
          <button class="btn btn-primary" (click)="this.teamPostOpen = true">
            Team
          </button>
        </div>
        <div class="col col-4 col-student">
          <button class="btn btn-warning" (click)="this.studentPostOpen = true">
            Student
          </button>
        </div>
      </div>
    </div>

    <app-create-team-post
      *ngIf="this.teamPostOpen"
      (componentIsOpen)="teamPostHandler($event)"
    ></app-create-team-post>

    <app-create-student-post
      *ngIf="this.studentPostOpen"
      (componentIsOpen)="studentPostHandler($event)"
    ></app-create-student-post>
  </div>
</div>
