<div class="container">
  <div class="card mat-elevation-z2">
    <!-- Request creation of post here -->
    <div class="card-body" *ngIf="!this.teamPostOpen && !this.singlePostOpen">
      <div class="row row-title">
        <div class="col col-title">
          <h5 class="card-title">Make Request For:</h5>
        </div>
      </div>
      <div class="row row-actions">
        <div class="col col-team">
          <button class="btn btn-primary" (click)="this.teamPostOpen = true">
            Team
          </button>
        </div>
        <div class="col col-single">
          <button class="btn btn-warning" (click)="this.singlePostOpen = true">
            Single
          </button>
        </div>
      </div>
    </div>

    <app-create-team-post
      *ngIf="this.teamPostOpen"
      (componentIsOpen)="teamPostHandler($event)"
    ></app-create-team-post>

    <app-create-single-post
      *ngIf="this.singlePostOpen"
      (componentIsOpen)="singlePostHandler($event)"
    ></app-create-single-post>
  </div>
</div>
