.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.team-table {
  width: 750px;
  border-radius: 10px;
  overflow: hidden;

  .team-name-backup {
    font-style: italic;
    color: rgb(112, 112, 112);
  }

  .team-name {
    font-weight: bold;
  }

  .team-row {
    cursor: pointer;
    height: 60px;

    &:hover {
      background-color: rgba(85, 134, 56, 0.1);
    }
  }

  ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
