<div class="card-body">
  <form>
    <div class="row">
      <div class="col">
        <label for="descriptionInput" class="section-title">
          What are you looking for in a potential team member?
        </label>
        <a
          (click)="this.closeComponent()"
          class="close-btn"
          href="javascript:void(0);"
        >
          <fa-icon [icon]="faTimes" size="lg"> </fa-icon
        ></a>
        <textarea
          rows="3"
          class="form-control"
          id="descriptionInput"
          placeholder="Description"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="skillsInput" class="section-title skills-title">
          What skills/talents are you looking for?
        </label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="useOwnSkillsCheckbox"
          />
          <label class="form-check-label" for="useOwnSkillsCheckbox">
            Include own skills
          </label>
        </div>
      </div>
    </div>
    <hr />
    <div class="row disclaimer-text">
      <div class="col">
        <small>
          The following skills and preferences will be saved to your profile.
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col col-6">
        <h3 class="section-title">Your Preferred Industries</h3>
        <ul class="industry-list">
          <!-- TODO: Populate preferred industries here -->
          <li class="industry-item">Design</li>
          <li class="industry-item">Full-Stack Development</li>
          <li class="industry-item">Finance</li>
        </ul>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="industryInput"
            placeholder="Add Industry"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary">
              <fa-icon [icon]="faPlus" size="sm"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <h3 class="section-title">Your Skills</h3>
        <div class="skill-list">
          <a
            class="skill-card type-{{ skill.type }}"
            *ngFor="let skill of skills"
            routerLink="/tags/{{ skill.type }}/{{ skill.name }}"
          >
            <span class="skill-name">
              {{ skill.name }}
            </span>
          </a>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="skillInput"
            placeholder="Add Skill"
          />
          <select class="skill-type-select">
            <option selected>Type</option>
            <option value="language">Language</option>
            <option value="framework">Framework</option>
            <option value="other">Other</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary">
              <fa-icon [icon]="faPlus" size="sm"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col btn-col">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
