<div class="profile-portrait">
  <h3>Lachlan</h3>
  <span>Underhill</span>
</div>
<div class="profile-list">
  <ul>
    <li><span class="list-header">Major</span><br>Computer Science</li>
    <li><span class="list-header">Minor</span><br>Database</li>
    <li><span class="list-header">Skills</span><br><a [routerLink]="['.']" routerLinkActive="router-link-active" >Edit Profile to Add Skills</a></li>
    <li><span class="list-header">Preferred Industries</span><br>
      <ol class="preferred-industries-list">
        <li>Finance</li>
        <li>Security</li>
        <li>Web Development</li>
      </ol>
    </li>
    <li><span class="list-header">Interests</span><br> Computer Science</li>
    <li><span class="list-header">Email Address</span><br> Computer Science</li>
    <li><span class="list-header">Mobile No.</span><br> Computer Science</li>
    <li><span class="list-header">GPA <small>(hidden)</small></span><br> Computer Science</li>
  </ul>
</div>
