.content {
  padding: 1em 3em;
}

.table {
  max-height: 5rem;

  th {
    padding: 0.5rem 0.2rem;
  }
  td {
    padding: 0.5rem 0.2rem;
  }

  .detail-td {
    text-align: center;
    .detail-button {
      font-size: 0.75rem;
    }
  }
}

.table-wrapper {
  height: 50rem;
  width: 100%;
  overflow:auto;
}
