@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import '../../../variables';

.container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem 0;
  max-width: 100%;
}

.card {
  width: 526px;
  height: 187px;
  padding: 0;
  background: #ffffff;
  border-radius: 0;
  justify-items: center;

  // Create space between cards
  + .card {
    margin-top: 25px;
  }

  .col {
    padding: 0;
  }

  .card-title {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.5rem;
    text-decoration-color: black;
    margin-bottom: 5px;

    color: #000000;
  }

  fa-icon {
    font-size: 0.3rem;
    vertical-align: middle;
    display: inline-block;
    color: rgba(20, 120, 20, 0.7);
  }

  .major {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #000000;
  }

  .minor {
    font-size: 0.8rem;
    color: #494949;
  }

  .menu-buttons {
    position: absolute;
    margin: 0;
    top: 10px;
    right: 10px;

    > button {
      width: 40px;
      height: 40px;
      border-radius: 0;
      margin: 0;
      background-color: rgba(0, 0, 0, 0);
      color: #555;
      cursor: pointer;

      &::after {
        border: none;
        content: none;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:focus {
        background-color: rgba(0, 0, 0, 0.15);
        outline: none;
        box-shadow: none;
      }
    }

    .dropdown-menu {
      padding: 0;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          width: 100%;
        }
      }

      button {
        border: none;
        padding: 0;
        outline: none;
        background-color: #fff;
        min-width: 100%;
        padding: 3px;
        padding-left: 8px;
        text-align: left;

        &:hover {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  .card-footer {
    background: none;
    border: none;
    padding-top: 0;

    .skill-list {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px;

      .skill-card {
        flex: 0 0 auto;
        border-radius: 2px;
        display: inline-block;
        padding: 0 10px;
        margin-right: 0.35rem;
        margin-bottom: 5px;
        cursor: pointer;

        span {
          font-family: $font-family-2;
          font-weight: 600;
        }

        &.type-language {
          background-color: #09568d;
          color: white;
        }

        &.type-framework {
          background-color: #b72727;
          color: white;
        }

        &.type-other {
          background-color: rgb(240, 228, 61);
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}
