<div class="container">
  <div class="card mat-elevation-z2" *ngFor="let student of users">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <a routerLink="/users/{{ student._id }}" class="card-title">
            {{ student.full_name }}
            <fa-icon
              [icon]="['fas', 'circle']"
              class="circle-class"
              size="sm"
              *ngIf="student.team == undefined"
            ></fa-icon>
          </a>
          <span *ngIf="student.team != undefined">- </span>
          <a
            routerLink="/users/{{ student.team._id }}"
            *ngIf="student.team != undefined"
            ><b>{{ student.team.name }}</b></a
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="card-text major">{{ student.major }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p
            class="card-text minor"
            *ngIf="
              student.minors !== undefined &&
              student.minors.first != '' &&
              student.minors.second != ''
            "
          >
            Minor<span *ngIf="student.minors.second != ''">s</span>:
            {{ student.minors.first }}
            <span *ngIf="student.minors.second != ''"
              >, {{ student.minors.second }}</span
            >
          </p>
        </div>
      </div>

      <div ngbDropdown class="btn-group dropright menu-buttons">
        <button
          class="btn btn-menu dropdown-toggle"
          id="menuDropdown"
          ngbDropdownToggle
        >
          <fa-icon [icon]="faEllipsisV" size="lg"> </fa-icon>
        </button>
        <div
          ngbDropdownMenu
          aria-labelledby="menuDropdown"
          class="dropdown-menu"
        >
          <ul>
            <li>
              <button routerLink="/users/{{ student._id }}">
                Student Profile
              </button>
            </li>
            <li *ngIf="!this.inTeam">
              <button ngbDropdownItem>Add to team</button>
            </li>
            <li><button ngbDropdownItem>Create Team</button></li>
            <li *ngIf="this.inTeam && this.inSameTeam()">
              <button ngbDropdownItem>Remove from team</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="skill-list" *ngIf="student.skills.length > 0">
        <a
          class="skill-card type-{{ skill.type }}"
          *ngFor="let skill of student.skills"
        >
          <span class="skill-name">
            {{ skill.name }}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
