$font-family-1: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light',
  'Helvetica Neue', 'Roboto', sans-serif;
$font-family-2: 'Titillium Web';

$color-primary: rgb(0, 59, 113);
$color-secondary: rgb(142, 144, 144);
$color-dark: rgb(86, 91, 95);
$color-support: rgb(0, 134, 117);
