@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web|Montserrat|Comfortaa|Open+Sans:400,600|Patua+One');
@import 'variables';

* {
  font-family: $font-family-1;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: lighten($color-primary, 10%);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family-1;
}
