@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../node_modules/bootstrap/scss/bootstrap';

$font_family_1: 'HelveticaNeue-Light',
'Helvetica Neue Light',
'Helvetica Neue',
'Roboto',
sans-serif;

* {
  font-family: $font_family_1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font_family_1;
}
