<footer class="footer">
  <div class="qut-footer-content row">
    <ul>
      <li>
        <a href="https://www.qut.edu.au" target="_blank">
          <span>QUT Home</span>
        </a>
      </li>
      <li>
        <a
          href="https://qutvirtual4.qut.edu.au/group/student/home"
          target="_blank"
        >
          <span>HiQ</span>
        </a>
      </li>
      <li>
        <a
          href="https://qutvirtual4.qut.edu.au/group/staff/home"
          target="_blank"
        >
          <span>Digital Workplace</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
;
